<template name="AppLayout">
  {{> yield "content"}}
  {{> footer}} 
</template>


<template name="bodyLayout">
  <div class="" id="wrapper">
    <div class="" id="mapContainer">
      
      <div id="googleMap">
        {{> map}}
      </div>

      <div class="" id="mapWindows">

      {{> sidebar}} 

        <button class="btn-floating blue lighten-2" id="zoomOut">
          <i class="material-icons">zoom_out_map</i>
        </button> 
      </div>      
    </div>
  </div>
{{> test}}

</template>

<template name="sidebar">
  <ul id="slide-out" class="transparent darken-2 side-nav fixed">
      <li class="">
          <h4 class="center-align blue-text">GTStat</h4>
      </li>
      <li> {{> mapSelect}} </li>
      {{> statcards}}

  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
       
</template>
