@import _mixins
@import _variables


::-webkit-scrollbar 
    width: 0px


html
  margin: 0 !important
  padding: 0 !important
  height: 100% !important
  width: 100% !important

body
  margin: 0 !important
  width: 100% !important
  height: 100% !important
  font-family: "Lora", "Garamond", "Helvetica Neue", Helvetica, Arial, sans-serif
  color: #003
  background-color: #eef

#wrapper
  background-color: #000
  height: 100%

#mapContainer
  position: relative
  height: 100%

#googleMap
  min-height: 41.67rem
  height: 100%
  z-index: 1

#mapWindows
  position: absolute
  top: 0
  min-height: 1px
  width: 100%
  z-index: 15


.side-nav
  width: $sidebar-width

  li
    line-height: 2rem

  // +card(2)

// #sidebarHeader
//   font-size: 0.9rem
//   padding: 0.5rem


// #mapSelect
//   background-color: inherit
//   color: $clr-light
//   height: 2.5rem
//   font-size: 1.2 rem
//   margin: 0.5rem 0
//   border: 0.1rem solid $clr-light

// #sidewrapper
//   height: 100%
//   overflow-y: scroll

.statcard
  background-color: rgba(0, 0, 0, 0.3)
  color: $clr-light
  // margin: 0.6rem 0

  table
    // margin: 0px !important
    z-index: 20
  th
    padding: 5px;
    font-size: 1.25rem;
  td
    padding: 5px;

    

.statflag
  width: 100%
  height: 2px
  background-color: rgba(250, 250, 250, 0.3)

.status-up
  background-color: $clr-up

.status-down
  background-color: $clr-down

.status-info
  background-color: $clr-info

.is-down, .is-closed, .is-FALSE
  color: $clr-down

.is-up, .is-open, .is-TRUE
  color: $clr-up

.is-info
  color: $clr-info

.selected
  border: 1px solid rgba(220,220,0,0.8)


#zoomOut
  position: absolute
  top: 0
  right: 0
  margin: 0.5rem
  background-color: rgba(238, 238, 255, 0.8)
 
#input-row
  flex-direction: row 

#footer
  background-color: #eef
  position: absolute
  bottom: 0
  width: 100%
  height: 2.666rem
  z-index: 10

  ul
    margin: 0
    padding: 0
    list-style-type: none
    text-align: center
    position: relative
    top: 50%
    -webkit-transform: translateY(-50%)
    -ms-transform: translateY(-50%)
    transform: translateY(-50%)

    li
      display: inline

      a
        text-decoration: none

        &:hover
          color: red

  img
    float: left
    margin: 0.5rem
    height: 1.5996rem  


// ACCOUNTING FOR FIXED SIDE NAV

.button-collapse
  display: none

#footer 
  padding-left: 0
  margin: 0 0 0 $sidebar-width


@media only screen and (max-width: 992px) 
  #footer 
    padding-left: 0
    margin: 0
    
  .button-collapse
    display: initial
