<template name="footer">
      <div class="" id="footer">
        <a href="http://perkinswill.com">
          <img class="img-responsive" src="img/PW-large-line.png" alt="Perkins+Will">
        </a>
        <ul>
          <li> <a href="#">Link 1</a> </li> |
          <li> <a href="#">Link 2</a> </li> |
          <li> <a href="#">Link 3</a> </li> |
          <li> <a href="#">Link 4</a> </li>
        </ul>
      </div> 
</template>