<template name="test">
<div id="updateModal" class="modal modal-fixed-footer">
{{#with currentDoc}}
	{{#autoForm collection="Offices" id="updateOfficeForm" type="update" doc=this}}
		<div class="modal-content">
			<h4>{{name}}</h4>
			<div id="input-row" class="row">
				<div class="input_af input-field col s4"> {{> afQuickField type="boolean-radios" name="stats.phone" }} </div>
				<div class="input_af input-field col s4"> {{> afQuickField type="boolean-radios" name="stats.network" }} </div>
				<div class="input_af input-field col s4"> {{> afQuickField type="boolean-radios" name="stats.event" }} </div>
			</div>
			{{> afQuickField type="text" name="note"}}
		</div>
		<div class="modal-footer">
			 <button type="submit" name="action" class="btn waves-effect waves-light">Submit</button>
		</div>
	{{/autoForm}}
{{/with}}
</div>
</template>


<template name="test2">
<div id="updateModal" class="modal">
{{#with currentDoc}}
	{{> quickForm id="updateOffices_qf" collection="Offices" doc=this type="update" omitFields="location, name, stats.info"}}
{{/with}}
	</div>
</template>

<template name="test3">
{{#with currentDoc}}
	<div id="updateModal" class="modal modal-fixed-footer">
	{{#autoForm collection="Offices" id="updateOfficeForm" type="update" doc=this}}
		<div class="modal-content">
			<h2>Edit</h2>
		  <fieldset>
		    <legend>Add Note:</legend>
				{{> afFieldInput type="boolean-radios" name="stats.phone" trueLabel="up" falseLabel="down"}}
				{{> afFieldInput type="boolean-radios" name="stats.network" trueLabel="up" falseLabel="down"}}
				{{> afFieldInput type="boolean-radios" name="stats.event" trueLabel="open" falseLabel="closed"}}

			  {{! > quickForm collection="Logs" id="insertLogsForm" type="update-pushArray" }}

		  </fieldset>
		</div>

		<div class="modal-footer">
			 <button type="submit" name="action" class="btn waves-effect waves-light">Submit</button>
		</div>
	{{/autoForm}}
	</div>
{{/with}}
</template>
