<template name="mapSelect">
	<div class="input-field col s12 blue-text">
	  <select multiple id="mapSelect" >
	    <option value="all" >Show: All</option>
	    <option value="up" >Show: OK</option>	    
	    <option value="down" selected="selected">Show: Issues</option>
	    <option value="closed" >Show: Closed</option>
	    <option value="events">Show: Events</option>
	  </select>
	</div>
</template>