<template name="statcards">
  {{#each offices}}
    <li>
      <div class="statcard {{selectedClass}}">
        <div class="statflag status-{{status}}"></div>
        <h5 class="blue-text center-align">{{name}}</h5>
        <table class="centered">
          <tbody>
          {{#each props}} 
            {{#if isDown}}
              <tr class="stats row">
                <td class="col s6"><i class="material-icons small">{{service}}</i></td>
                <td class="col s6"><i class="material-icons small is-{{this.status}}">{{symbol}}</i></td>
             </tr>
           {{/if}}
          {{/each}}
           <tr>
            <td>{{note}}</td>
           </tr>
         </tbody>        
        </table>     
      </div>
    </li>
  {{/each}}
</template>


<template name="statcards2">
  {{#each offices}}
  <li>
    <div class="statcard {{selectedClass}}">
      <div class="statflag status-{{status}}"></div>
      <h5 class="blue-text center-align">{{name}}</h5>
      <button class="btn btn-floating modalTrigger right-align"><i class="material-icons">mode_edit</i></button>
    </div>
    </li>
  {{/each}}
</template>
